<app-navbar-client></app-navbar-client>

<header class="event-header text-white text-center d-flex align-items-center">
  <div class="overlay"></div>
  <div class="container position-relative">
    <h1 class="display-4 fw-bold">Réservez vos événements en un clic</h1>
    <p class="lead">Concerts, expositions, conférences... Découvrez et réservez dès maintenant !</p>
    <a href="/evenement" class="btn btn-outline-light mt-3">Explorer les événements</a>
  </div>
</header>
<app-evenement></app-evenement>
<app-a-props></app-a-props>
<app-footer></app-footer>
