.search-bar input::placeholder {
  color: #6c757d;
  opacity: 0.8;
}

.navbar-brand:hover {
  color: #0d6efd !important; /* Bleu de Bootstrap */
}

.btn-primary:hover {
  background-color: #0b5ed7;
}
